body{
  margin: 0px;
  padding: 0px;
}
.container {
  border: 15px solid #000000;
  margin-left: 56.5px;
  margin-top: 30.5px;
  position: absolute;
  width: 550px;
  height: 550px;
  background-color: #09ced4;
}
.bigcircle{
  position: absolute;
  margin-top: 56px;
  margin-left: 81px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 15px solid #000000;
  background: #ce8c11;
}
.rcircle{
  position: absolute;
  margin-top: 207px;
  margin-left: 357px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #000000;
  background: #f1c604;
}
.lcircle{
  position: absolute;
  margin-top: 209px;
  margin-left: 107.5px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #000000;
  background: #f1c604;
}
.halfcircle1{
  position: absolute;
  background-color: #000000;
  margin-top: 310px;
  margin-left: 414px;
  height: 80px;
  width: 150px;
  border-radius: 125px 125px 0 0;
  transform: rotate(150deg);
}
.halfcircle2{
  position: absolute;
  background-color: #000000;
  margin-top: 310px;
  margin-left: 128px;
  height: 80px;
  width: 150px;
  border-radius: 125px 125px 0 0;
  transform: rotate(210deg);
}
.rbrow{
  position: absolute;
  margin-top: 135px;
  margin-left: 544px;
  width: 20px;
  height: 130px;
  border-radius: 25px;
  background-color: #000000;
  transform: rotate(75deg);
}
.lbrow{
  position: absolute;
  margin-top: 136px;
  margin-left: 135px;
  width: 20px;
  height: 130px;
  border-radius: 25px;
  background-color: #000000;
  transform: rotate(105deg);
}
.beak{
  position: absolute;
  margin-top: 26px;
  margin-left: 19.5px;
  border-radius: 25px;
  background-color: #000000;
  width: 100px;
  height: 100px;
  transform: rotate(133deg);
}
.bgc{
  position: absolute;
  margin-top: 115px;
  margin-left: 121px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: #e2a636;
  transform: skewX(2deg);
}
